<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h3>
      <%= "#{resource.class.model_name.human}に#{resource.errors.count}件のエラーがあります。保存できませんでした。" %>
    </h3>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
