<%#= form_for @tweet do |f| %>
<%#=  <div class="form-group">
    <%#= f.label :title, '課題内容', class: "form-label" %><br>
    <%#= f.text_field :title, class: "form-input" %>
<%#=  </div>

<%#=  <div class="form-actions">
    <%#= f.submit "更新", class: "btn submit-btn" %>
    <%#= link_to "戻る", tweet_path(@tweet), class: "btn back-btn" %>
  <%#=</div>
<%# end %>