<turbo-stream action="replace" target="tweet_title_<%= @tweet.id %>">
  <template>
    <h3 id="tweet_title_<%= @tweet.id %>" class="tweet-title"><%= @tweet.title %></h3>
  </template>
</turbo-stream>
