/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
/*

 */

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f5f7fa;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

header {
  background-color: #00acee;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; 
}

header a:hover {
  color: 	white;  /* 好きな色に変更（ここでは黄色） */
  text-decoration: underline; /* 下線を表示する（必要であれば） */
  transition: 0.3s; /* 変化にアニメーション効果をつける（滑らかに） */
}
header h1 { 
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none;
  margin-right: 40px;
}

/*.first-block {
  background-image: url("/assets/first-back.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.second-block {
  height: 500px;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.info-title {
  font-size: 60px;
  font-family: serif;
  margin-bottom: 20px;
  color: #444;
  text-align: center;
}

.info-text {
  font-size: 20px;
  margin-bottom: 20px;
  color: #444;

  width: 30%;
}

.font-small {
  font-size: 15px;
}
/*   Second block End   */

/*.third-block {
  height: 500px;
  background-color: #f05f40;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.events-title {
  font-size: 60px;
  font-family: serif;
  color: #444;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.event-name {
  font-size: 20px;
  padding: 10px;
  width: 40%;
}

span {
  font-size: 40px;
  font-family: serif;
}

.event-image {
  width: 40%;
  height: 330px;
}
/*   Third block End   */

footer {
  color: white;
  height: 25px;
  background-color: #00acee;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
  
}

main {
  padding-bottom: 25px; /* footerの高さに合わせる */
}




