<p><%= @resource.email %>さん、こんにちは。</p>

<p>パスワード変更のリクエストがありました。以下のリンクから新しいパスワードを設定できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は、無視してください。</p>
<p>上記のリンクから新しいパスワードを設定するまでは、現在のパスワードは変更されませんのでご安心ください。</p>
