<p><%= @resource.email %>さん、こんにちは。</p>

<p>ログイン試行が複数回失敗したため、あなたのアカウントは一時的にロックされました。</p>

<p>以下のリンクをクリックすると、アカウントのロックを解除できます:</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
